.img {
    box-shadow: 0 0 1em black;
    width: 100%;
    height: 100%;
}

.button a, .button a p {
    display: inline;
    color: white;
    text-decoration: none;
}
.button a p {
    margin-left: 0.5rem;
    font-weight: 300;
}
section button {
    margin-bottom: 25px;
    margin-top: 15px;
    background: var(--laranja);
    border-radius: 0.5rem;
    width: 15rem;
    height: 2.5rem;
}

.one, .two {
    border-bottom: 5px dashed var(--laranja);
}

.two .img {
    margin-top: 10px;
}
.subtítulo {
    margin: 20px 15px 0 15px;
    color: #e82189;
    text-shadow: 2px 2px 2px #300820;
    font-weight: bolder;
    font-size: xx-large;
}

.padding {
    padding: 15px;
}
